:root{
    --light-yellow: #FFF5E4;
    --black: #000000;
    --light-pink: #FFD1D1;
    --dark-pink: #FFE3E1;
    --pink: #FF9494;
    --white: #ffff;
    --red: #dc3545;
    --green: #198754;
}

body{
    background-color: var(--light-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
}

.display-row{
    display: flex;
    flex-direction: row;
}

.display-column{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}

input{
    border: 1px solid black;
    border-radius: 5px;
    height: 20px;
    padding-left: 5px;
    padding-bottom: 2px;
    width: 175px;
}

input::placeholder {
    color: var(--black);
}

.required{
    border: 2px solid var(--red);
}

.label-info{
    display: flex;
    flex-direction: column;
    height: 38px;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.error-hidden{
    display: none;
}
.validationError{
    height: 18px;
}

.number:after{
    content: "Only Numbers are allowed";
    color: red;
}

.requiredText:after{
    content: "Required";
    color: red;
}

label {
    white-space: pre-wrap;
    width: inherit;
}

.button-insert{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    background-color: #FFD1D1;
    border-color: #FF9494;
    font-weight: 500;
    font-size: 1rem;
}

.button-insert:hover{
    background-color: #FF9494;
    border-color: #FFD1D1;
    transition: all 0.2s ease-out;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
}

#ul-style{
    width: 800px;
    padding: 0;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

li {
    background-color: var(--light-pink);
}

li:nth-child(odd) { 
    background: var(--dark-pink); 
}

#li-Key-style{
    background: var(--pink) !important;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.li-style{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-text{
    display: contents;
}

.style-information{
    width: 175px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* input list style */

.read-only{
    background-color: transparent;
    border: 0px;
    text-align: center; 
}

.read-only:focus-visible{
    outline: none;
}

.divAction{
    width: 175px;
    display: flex;
    justify-content: space-evenly;
}

.button-style{
    width: 65px;
    height: 25px;
}

.button-edit{
    border-radius: 5px;
    background-color: var(--white);
}

.button-edit:hover{
    background-color: var(--black) !important;
    transition: all 0.2s ease-out;
    color: var(--white);
    border: 1px solid var(--white);
}

.button-delete, .button-cancel{
    background-color: var(--red);
    color: var(--white);
}

.button-delete:hover, .button-cancel:hover{
    background-color: var(--white);
    color: var(--red);
    border: 1px solid var(--red);
    transition: all 0.2s ease-out;
}

.button-Save{
    background-color: var(--green);
    color: var(--white);
}

.button-Save:hover{
    background-color: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
    transition: all 0.2s ease-out;
}

.display-none{
    transition: all 0.2s ease-out;
    display: none;
}
